body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #7f8c8d;
}
section{
  background: #7f8c8d;
  box-sizing: border-box;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sarah{
  position: absolute;
  margin-top: 60px;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
}
.slider-wrapper{
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 50px;
  padding: 0 15px;
  overflow: hidden;
}
.slider div{
  color: #fff;
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
  box-sizing: border-box;
}
.slider-text1{
  background: #f8a5c2;
  animation: slide 5s linear infinite;
}
.slider-text2{
  background: #63cdda;
}
.slider-text3{
  background: #f3a683;
}
@keyframes slide {
  0% {margin-top:-300px;}
  5% {margin-top:-200px;}
  33% {margin-top:-200px;}
  38% {margin-top:-100px;}
  66% {margin-top:-100px;}
  71% {margin-top: 0px;}
  100% {margin-top:0px;}
}
